.post .first-post-section {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 11.1rem;
  padding-bottom: 23rem;
}

.post .post-text-container {
  display: flex;
  flex-direction: column;
}

.post .post-title-and-date {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 1.2rem;
}

.post .post-title-and-date h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.7rem;
  color: #ff4081;
}

.post .post-title-and-date span {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.1rem;
  color: #9d9d9d;

  margin-bottom: 7.4rem;
}

.post-big-gray-box {
  height: 465px;
  width: 1032px;

  background-color: #c4c4c4;

  margin-bottom: 6.4rem;
}

.post .post-text-container p {
  width: 103.2rem;

  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.1rem;
}

.post .post-text-container b {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 3rem;

  color: #009688;

  margin-top: 10rem;
  margin-bottom: 2rem;
}

.post .second-post-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #f6f6f6;

  padding: 7.9rem 12.9rem 10.05rem 12.8rem;
}

.post .post-courses-container {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 17.9rem;
}

.post .second-post-section h1 {
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.7rem;
  color: #ff4081;

  margin-bottom: 10.1rem;
}

.post .post-courses-container div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 2.4rem;
}

.post .second-post-section img {
  margin-bottom: 2.1rem;
}

.post .second-post-section b {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.9rem;
  color: #ff4081;
}

.post .second-post-section p {
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2rem;
}

.post .second-post-section button {
  height: 51px;
  width: 233px;
  border-radius: 62px;

  background-color: #ff4081;

  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: white;
}

.post .post-courses-container {
  width: 100%;
  display: flex;
}
